@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "AlongSans";
    src: url("/fonts/along-sans-medium-regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  
  
 .halal {
    
    display: block;
    
    
    color: white;
     /* default color */

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, transparent 50%, #FF006F 50%) right;
    background-size: 200%;
    transition: .3s ease-out;
}
.halal:hover {
    background-position: left;
}